In [1]:
import os
os.chdir("Applied Data Science\project2\code")
os.getcwd()

'D:\\OneDrive - The University of Melbourne\\大三下\\Applied Data Science\\project2\\code'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/yellow_tripdata_2019-02.csv')
df.dropna(inplace=True)
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'],
                             format='%Y/%m/%d %H:%M', errors='coerce')
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'],
                             format='%Y/%m/%d %H:%M', errors='coerce')
df['duration'] = (df['tpep_dropoff_datetime'] -
                  df['tpep_pickup_datetime']).dt.seconds.astype(int) /60
df["income"] = df['tip_amount'] + df['fare_amount']
df['revenue'] = df['income'] / df['duration']
df['revenue_level'] =  np.where(df['revenue']>1, 'high', 'low')
df['start_hour'] =  df['tpep_pickup_datetime'].dt.hour
df['day_of_week'] = df['tpep_pickup_datetime'].dt.day_name()
df['date_hour'] = df['tpep_pickup_datetime'].dt.strftime('%d %H')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,improvement_surcharge,total_amount,congestion_surcharge,duration,income,revenue,revenue_level,start_hour,day_of_week,date_hour
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,...,0.3,12.3,0.0,8.383333,11.0,1.312127,high,0,Friday,01 00
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,...,0.3,33.3,0.0,30.816667,32.0,1.038399,high,0,Friday,01 00
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,...,0.3,3.8,0.0,0.216667,2.5,11.538462,high,0,Friday,01 00
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,...,0.3,6.8,0.0,5.533333,5.5,0.993976,low,0,Friday,01 00
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,...,0.3,6.3,0.0,2.733333,5.0,1.829268,high,0,Friday,01 00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019370,2,2019-02-28 23:29:08,2019-02-28 23:29:11,1,0.0,1,N,193,193,1,...,0.0,0.0,0.0,0.050000,0.0,0.000000,low,23,Thursday,28 23
7019371,2,2019-02-28 22:48:47,2019-02-28 23:50:19,1,0.0,1,N,141,193,2,...,0.0,0.0,2.5,61.533333,0.0,0.000000,low,22,Thursday,28 22
7019372,2,2019-02-28 23:41:23,2019-02-28 23:42:23,1,0.0,1,N,264,264,1,...,0.0,0.0,0.0,1.000000,0.0,0.000000,low,23,Thursday,28 23
7019373,2,2019-02-28 23:12:52,2019-02-28 23:14:16,1,0.0,1,N,264,193,1,...,0.0,0.0,0.0,1.400000,0.0,0.000000,low,23,Thursday,28 23
7019374,2,2019-02-28 23:10:35,2019-02-28 23:10:37,1,0.0,1,N,264,264,2,...,0.0,0.0,0.0,0.033333,0.0,0.000000,low,23,Thursday,28 23

# Data cleaning

In [4]:
weather = pd.read_csv('data/2019_2_weather.csv')
weather['date_time'] = weather['date'].map(str) + " " + weather['time']
weather['date_hour'] = pd.to_datetime(weather['date_time'], format='%d %I:%M %p',
                                      errors='coerce').dt.strftime('%d %H')

weather.set_index('date_hour', inplace=True)
weather

           date      time      condition    date_time
date_hour
01 23         1  11:51 PM           Fair   1 11:51 PM
01 00         1  12:51 AM           Fair   1 12:51 AM
01 01         1   1:51 AM           Fair    1 1:51 AM
01 02         1   2:51 AM           Fair    1 2:51 AM
01 03         1   3:51 AM           Fair    1 3:51 AM
...         ...       ...            ...          ...
28 18        28   6:51 PM  Mostly Cloudy   28 6:51 PM
28 19        28   7:51 PM  Mostly Cloudy   28 7:51 PM
28 20        28   8:51 PM  Mostly Cloudy   28 8:51 PM
28 21        28   9:51 PM  Mostly Cloudy   28 9:51 PM
28 22        28  10:51 PM  Mostly Cloudy  28 10:51 PM

[672 rows x 4 columns]

In [5]:
preci = ['Heavy Rain','Light Drizzle','Light Freezing Drizzle','Light Rain','Light Snow','Light Snow / Windy',
         'Rain','Snow','Snow and Sleet','Wintry Mix']

remain = ['Cloudy','Fair','Fair / Windy', 'Fog','Mostly Cloudy','Mostly Cloudy / Windy','Partly Cloudy',
          'Partly Cloudy / Windy', 'Sleet']

def precipitation_or_not(condition):
    if condition in preci:
        return 'preci'
    elif condition in remain:
        return 'remain'

weather['condition'] = weather.condition.map(precipitation_or_not)
weather

           date      time condition    date_time
date_hour
01 23         1  11:51 PM    remain   1 11:51 PM
01 00         1  12:51 AM    remain   1 12:51 AM
01 01         1   1:51 AM    remain    1 1:51 AM
01 02         1   2:51 AM    remain    1 2:51 AM
01 03         1   3:51 AM    remain    1 3:51 AM
...         ...       ...       ...          ...
28 18        28   6:51 PM    remain   28 6:51 PM
28 19        28   7:51 PM    remain   28 7:51 PM
28 20        28   8:51 PM    remain   28 8:51 PM
28 21        28   9:51 PM    remain   28 9:51 PM
28 22        28  10:51 PM    remain  28 10:51 PM

[672 rows x 4 columns]

In [6]:
def fill_weather(time):
    try:
        return weather['condition'].loc[time]
    except:
        return np.NaN

In [7]:
df['weather'] = df['date_hour'].map(fill_weather)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,duration,income,revenue,revenue_level,start_hour,day_of_week,date_hour,weather
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,...,12.3,0.0,8.383333,11.0,1.312127,high,0,Friday,01 00,remain
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,...,33.3,0.0,30.816667,32.0,1.038399,high,0,Friday,01 00,remain
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,...,3.8,0.0,0.216667,2.5,11.538462,high,0,Friday,01 00,remain
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,...,6.8,0.0,5.533333,5.5,0.993976,low,0,Friday,01 00,remain
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,...,6.3,0.0,2.733333,5.0,1.829268,high,0,Friday,01 00,remain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019370,2,2019-02-28 23:29:08,2019-02-28 23:29:11,1,0.0,1,N,193,193,1,...,0.0,0.0,0.050000,0.0,0.000000,low,23,Thursday,28 23,remain
7019371,2,2019-02-28 22:48:47,2019-02-28 23:50:19,1,0.0,1,N,141,193,2,...,0.0,2.5,61.533333,0.0,0.000000,low,22,Thursday,28 22,remain
7019372,2,2019-02-28 23:41:23,2019-02-28 23:42:23,1,0.0,1,N,264,264,1,...,0.0,0.0,1.000000,0.0,0.000000,low,23,Thursday,28 23,remain
7019373,2,2019-02-28 23:12:52,2019-02-28 23:14:16,1,0.0,1,N,264,193,1,...,0.0,0.0,1.400000,0.0,0.000000,low,23,Thursday,28 23,remain
7019374,2,2019-02-28 23:10:35,2019-02-28 23:10:37,1,0.0,1,N,264,264,2,...,0.0,0.0,0.033333,0.0,0.000000,low,23,Thursday,28 23,remain

In [8]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'duration', 'income', 'revenue',
       'revenue_level', 'start_hour', 'day_of_week', 'date_hour', 'weather'],
      dtype='object')

In [9]:
drop_col = ['VendorID','tpep_pickup_datetime', 'tpep_dropoff_datetime','store_and_fwd_flag',
            'date_hour', 'congestion_surcharge']
df.drop(drop_col, axis=1, inplace = True)
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df

,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration,income,revenue,revenue_level,start_hour,day_of_week,weather
0,1,2.1,1,48,234,1,9.0,0.5,0.5,2.0,0.0,0.3,12.3,8.383333,11.0,1.312127,high,0,Friday,remain
1,1,9.8,1,230,93,2,32.0,0.5,0.5,0.0,0.0,0.3,33.3,30.816667,32.0,1.038399,high,0,Friday,remain
2,1,0.0,1,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.216667,2.5,11.538462,high,0,Friday,remain
3,1,0.8,1,95,95,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,5.533333,5.5,0.993976,low,0,Friday,remain
4,1,0.8,1,140,263,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,2.733333,5.0,1.829268,high,0,Friday,remain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018685,1,0.0,1,193,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.050000,0.0,0.000000,low,23,Thursday,remain
7018686,1,0.0,1,141,193,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.533333,0.0,0.000000,low,22,Thursday,remain
7018687,1,0.0,1,264,264,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.000000,low,23,Thursday,remain
7018688,1,0.0,1,264,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.400000,0.0,0.000000,low,23,Thursday,remain
7018689,1,0.0,1,264,264,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033333,0.0,0.000000,low,23,Thursday,remain

In [10]:
df.to_feather('data/raw.feather')
df.to_csv('data/raw.csv', index=False)