In [1]:
import pandas as pd
import numpy as np

In [2]:
file = ['data/yellow_tripdata_2016-01.csv',
        'data/yellow_tripdata_2016-02.csv',
        'data/yellow_tripdata_2016-03.csv',]
df1 = pd.read_csv(file[0],error_bad_lines=False)
df2 = pd.read_csv(file[1],error_bad_lines=False)
df3 = pd.read_csv(file[2],error_bad_lines=False)

df = df1.append(df1).append(df2)
df

b'Skipping line 25774: expected 19 fields, saw 36\n'

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2.0,7.5,0.5,0.5,0.00,0.00,0.3,8.80
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1.0,18.0,0.5,0.5,0.00,0.00,0.3,19.30
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1.0,33.0,0.5,0.5,0.00,0.00,0.3,34.30
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2.0,16.5,0.0,0.5,0.00,0.00,0.3,17.30
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2.0,8.0,0.0,0.5,0.00,0.00,0.3,8.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11381711,1,2016-02-13 22:38:51,2016-06-24 12:30:49,2,2.60,-73.990425,40.766392,1,N,-73.961891,40.779392,2.0,14.0,0.0,0.5,0.00,0.00,0.3,14.80
11381712,1,2016-02-13 22:39:42,2016-06-23 02:10:11,1,2.60,-74.007370,40.743530,1,N,-73.987778,40.763790,1.0,10.5,0.5,0.5,2.35,0.00,0.3,14.15
11381713,1,2016-02-13 22:39:49,2016-06-25 12:32:54,2,1.10,-73.921600,40.743774,1,N,-73.914467,40.753582,2.0,6.0,0.0,0.5,0.00,0.00,0.3,6.80
11381714,1,2016-02-13 22:42:34,2016-06-26 11:55:57,2,10.10,-73.872925,40.774002,1,N,-73.973198,40.755211,1.0,28.5,0.0,0.5,6.95,5.54,0.3,41.79
11381715,1,2016-02-13 22:48:20,2016-06-22 20:30:05,1,8.30,-73.872971,40.774014,1,N,-73.966896,40.801868,1.0,26.0,0.5,0.5,6.55,5.54,0.3,39.39

In [3]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [4]:
drop_col = ['VendorID','passenger_count','trip_distance', 'RatecodeID',
            'store_and_fwd_flag','payment_type', 'fare_amount','extra',
             'mta_tax', 'tip_amount','improvement_surcharge']

df.drop(drop_col, axis=1, inplace=True)

In [6]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df['start'] = pd.to_datetime(df['tpep_pickup_datetime'], format='%Y/%m/%d %H:%M', errors='coerce')
df['end'] = pd.to_datetime(df['tpep_dropoff_datetime'], format='%Y/%m/%d %H:%M', errors='coerce')
df['duration'] = (df['end'] - df['start']).dt.seconds.astype(int)

In [7]:
# select useful information

df.to_feather('data/yellow_tripdata_01-03.csv.feather')

In [ ]:
df

In [ ]:

df = pd.read_feather('sample.feather')
df

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# æ—¶é—´å’Œ ä»·æ ¼çš„æ¯”å€¼

df[['total_amount', 'duration']].plot.scatter(x='total_amount',y='duration')

plt.show()

In [ ]:
# å‡ºè¡Œçš„æ—¶é—´

df['start_time'] = df['start'].dt.hour.astype(int) / 60
sns.distplot(df['start_time'])
plt.xticks([i for i in range(0,25)])
plt.ylim(0,100)
plt.show()

In [ ]:
df

In [ ]:
# lat, long
start_coords = ['pickup_latitude', 'pickup_longitude']
end_coords = [ 'dropoff_longitude', 'dropoff_latitude']
df[start_coords + end_coords].median()

In [ ]:
import folium
from folium.plugins import FastMarkerCluster
from folium.plugins import HeatMap

In [ ]:


# create an interactive geospatial graph
nycM = folium.Map(location=[40, -74], tiles="Stamen Terrain", zoom_start=10)

# use a built-in clustering algorithm to apply markers for hotspots
FastMarkerCluster(data=df[COORDS].values).add_to(nycM)

# visualize the plot 
nycM.save('../plots/foliumFastCluster.html')
nycM

In [ ]:
# åŽ»äº†å“ªé‡Œ




nycM2 = folium.Map(location=[40.66, -73.94], tiles="Stamen Terrain", zoom_start=10)
nycM2.add_child(HeatMap(df[COORDS].values, radius=10))

nycM2.save('../plots/foliumPickupHeatmap.html')
nycM2